*.pyc

.DS_Store
.settings/org.eclipse.ltk.core.refactoring.prefs

.pydevproject

.project

src/TestDjango/urls.pyc

src/TestDjango/settings.pyc

src/TestDjango/urls.pyc

src/TestDjango/settings.pyc

src/TestDjango/__init__.pyc

src/TestDjango/settings.pyc
